<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Register for an account with Chomp</h1>
    <form action="" method="post" novalidate>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password1.label }}<br>
            {{ form.password1(size=32) }}
        </p>

        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>